* {
    margin: 0px;
    padding: 0px;
}

html {
    background: url('/static/img/background_honey.gif') no-repeat center center fixed;
    background-size: 90%;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

#wrapper {
    margin: 10px auto;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 80%;
    color: white;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
    font-size: 60px;
}

#honey_pot {
    margin: 30px auto;
    width: 100%;
}

img {
    height: 130px;
    width: 230px;
}

.relative {
    position: relative;
    display: inline-block;
    height: 130px;
    width: 230px;
    margin: 5px;
}

.absolute_text_top {
    position: absolute;
    top: 0;
    font-size: 20px;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.absolute_text_bottom {
    position: absolute;
    bottom: 0;
    font-size: 15px;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.absolute-text a {
    font-size: 16px;
    color: #b92b27;
}
