<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Jason Elwonger">
    <title>Dojo Survey Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/defaultScript.js') }}"></script>
</head>

<body>
    <form action='/survey' method='post'>
        <label for='name'>Your Name: </label>
        <input type='text' name='name'>
        <label for='location'>Location: </label>
        <select name='location'>
            <option value=''></option>
            <option value='dallas'>Dallas</option>
            <option value='san_francisco'>San Francisco</option>
            <option value='san_diego'>San Diego</option>
            <option value='new_york'>New York</option>
        </select>
        <label for='language'>Favorite Language: </label>
        <select name='language'>
          <option value=''></option>
          <option value='python'>Python</option>
          <option value='angularjs'>AngularJS</option>
          <option value='csharp'>C#</option>
        </select>
        <label for='comment'>Comment (optional): </label>
        <textarea name='comment'></textarea>
        <input type='submit' name='submit'>
    </form>
</body>

</html>
