<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dojo Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/defaultScript.js') }}"></script>
</head>

<body>
    <form>
        <title>Form</title>
        <p>This is inside a form</p>
    </form>
</body>

</html>
