<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Jason Elwonger">
    <title>Hunny, bitches!</title>
    <link rel="icon" type="image/jpg" href="static\img\honey.jpg">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/defaultScript.js')}}"></script>
</head>

<body>
    <div id="wrapper">
        <h1>Bitch, better have my hunny!</h1>
        <p>Your Hunny:</p> {{ player_honey }}
        <div id="honey_pot">
            <div class="relative">
                <img src="static\img\pooh_supply.gif" alt="Pooh's Personal Supply">
                <p class="absolute_text_top">Pooh's Personal Supply</p>
                <p class="absolute_text_bottom">1 Hunny</p>
            </div>
            <div class="relative">
                <img src="static\img\pooh_picnic.gif" alt="Pooh's Hunny Picnic">
                <p class="absolute_text_top">Pooh's Hunny Picnic</p>
                <p class="absolute_text_bottom">1-10 Hunny</p>
            </div>
            <div class="relative">
                <img src="static\img\pooh_pool.gif" alt="Pooh's Pool o' Hunny">
                <p class="absolute_text_top">Pooh's Pool o' Honey</p>
                <p class="absolute_text_bottom">70 - 100 Hunny</p>
            </div>
            <div class="relative">
                <img src="static\img\pooh_heaven.gif" alt="Pooh's Honey Overdose">
                <p class="absolute_text_top">Pooh's Honey Overdose</p>
                <p class="absolute_text_bottom">Gain 1,000 Hunny or Lose ALL Hunny</p>
            </div>
        </div>
    </div>
</body>

</html>
