<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Jason Elwonger">
    <title>Hunny, bitches!</title>
    <link rel="icon" type="image/jpg" href="static\img\honey.jpg">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/defaultScript.js')}}"></script>
</head>

<body>
    <div id="wrapper">
        <span class="rainbow">Bitch, better have my hunny!</span>
        <img src="static\img\pooh.gif" alt="Happy Pooh!">
    </div>
</body>

</html>
